:root {
  --color-amarillo: #eac926;
  --color-azul: #03264c;
  --color-celeste: #1259c3;
  --colorGris-oscuro: #666;
  --colorGris-claro: #ebebeb;
  --color-verde: #39b54a;
  --color-blanco: #fff;
  --color-negro: #000;

  --fuente: "Roboto", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--colorGris-claro);
  font-family: var(--fuente);
}

a {
  text-decoration: none;
  color: var(--color-negro);
}

li {
  list-style: none;
}


img {
  width: 100%;
}